configuration {
  modi:                "drun,run,window";
  show-icons:          true;
  icon-theme:          "Papirus-Dark";
  display-drun:        " Apps";
  display-run:         " Run";
  display-window:      " Windows";
  drun-display-format: "{icon} {name}";
  window-format:       "{w} - {t}";
  disable-history:     false;
  click-to-exit:       true;
  terminal:            "kitty";
  font:                "JetBrainsMono Nerd Font 11";
  matching:            "fuzzy";
}

* {
  background-color: transparent;
  text-color:       #c0c1c3;
}

window {
  location:         center;
  anchor:           center;
  width:            32%;
  background-color: rgba(6,10,15,0.37);
  border:           0;
  border-radius:    14px;
  padding:          16px;
}

mainbox {
  background-color: transparent;
  spacing:          10px;
  children:         [ inputbar, listview ];
}

inputbar {
  background-color: rgba(255,255,255,0.14);
  border-radius:    999px;
  padding:          8px 16px;
  spacing:          10px;
  children:         [ prompt, entry ];
}

prompt {
  background-color: transparent;
  text-color:       #889caf;
  padding:          0 4px 0 0;
}

entry {
  background-color: transparent;
  text-color:       #c0c1c3;
  placeholder:      "Search...";
  placeholder-color: rgba(255,255,255,0.45);
  cursor:           text;
  expand:           true;
}

listview {
  background-color: transparent;
  columns:          1;
  lines:            6;
  cycle:            true;
  dynamic:          true;
  fixed-height:     false;
  layout:           vertical;
  spacing:          4px;
  scrollbar:        false;
}

element {
  orientation:      horizontal;
  children:         [ element-icon, element-text ];
  padding:          8px 12px;
  border-radius:    8px;
  background-color: transparent;
}

element-icon {
  background-color: transparent;
  size:             1.2em;
}

element-text {
  background-color: transparent;
  text-color:       inherit;
  expand:           true;
  vertical-align:   0.5;
}

element normal.normal,
element alternate.normal {
  background-color: transparent;
  text-color:       #c0c1c3;
}

element selected.normal {
  background-color: #889caf;
  text-color:       #060a0f;
}

element normal.urgent,
element alternate.urgent {
  background-color: transparent;
  text-color:       #060a0f;
}

element selected.urgent {
  background-color: #224349;
  text-color:       #060a0f;
}

element normal.active,
element alternate.active {
  background-color: transparent;
  text-color:       #060a0f;
}

element selected.active {
  background-color: #73574d;
  text-color:       #060a0f;
}

scrollbar { enabled: false; }
message   { background-color: transparent; }
textbox   { background-color: transparent; text-color: #c0c1c3; }
